.jumbotron{
	background-image: url(https://occ-0-1722-92.1.nflxso.net/dnm/api/v6/5e0byrbbfBPBmtxyXMpKqMuqOQY/AAAABf6hncxhIAf3evh811bECRvN_tiHcDs8X7O5eoO7ft_SIswX8ENDr0JFofVD-I71LwOODyHkdZfIcgAFD21u572d8kDWUa39heWFZi-Kdg.png?r=f76);
}



.header{
	background-color: #ccc;
	position: relative;
	width: 100%;
}

h1{
	text-align: center;
	font-size: 90px;
	font-weight: bold;
	padding: 90px 0 20px 0; 
}

h2{
	text-align: center;
	font-size: 25px;
	padding-bottom: 40px;
}